
/* INDEX PAGE STYLES */

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.nav-link {
  margin: 10px;
  font-size: 20px;
}

.navbar {
  font-family: "ubuntu", sans-serif;
  font-size: 1.6rem;
  margin: -32px 0px -32px 0px;
}

#navigation-bar {
  background-color: #fff;
  /* #caf7e3 */
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
  top = 0;
  border-bottom-style: solid;
  transition: top 0.5s;
  visibility: visible;

}

.empty-space {
  height: 100px;
  background-color: white;
}

.logo {
  border: 2px bold;
  margin: 0px 0px 1px -41px;
  height: 90px;
  width: 500px;
}

#title {
  background-color: #e9896a;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
  padding: 11% 0%;
  text-align: left;

}

.container-fluid {
  padding: 2% 5%;
}

.home-banner {
  height: 400px;
  width: 400px;
}

/* Features section*/
.team-viewer {
  height: 200px;
  width: 200px;
}

#features {
  background-color: white;
  text-align: center;
  padding: 5% 2%;
}

h3 {
  color: #34626c;
}

.icon:hover {
  color: #e9896a;
}

/* computer-section */
#computer {
  background-color: #e9896a;
  /* #93abd3 */
  text-align: center;
}

.mid-margin {
  border-style: solid;
  border-width: 0 4px 0 0;
}

@media (max-width:767px) {
  .mid-margin {
    padding: 10% 0;
    border-style: solid;
    border-width: 0 0 4px 0;
  }
  .empty-space {
    height: 100px;
    background-color: white;
  }
  .hardware {
    height: 300px;
    width: 300px;
    transition: transform .2s;
    margin-top: 10%;
  }
  .navbar {
    font-family: "ubuntu", sans-serif;
    font-size: 1.6rem;
    margin: -32px 0px -32px 0px;
    padding: 0 0 15px 0;
  }
}

.software, .hardware {
  height: 300px;
  width: 300px;
  transition: transform .2s;
}

.software:hover, .hardware:hover {
  transform: scale(1.1);
}

h2 {
  padding: 5% 3%;
  font-family: "popper", sans-serif;
  font-weight: bold;
}

/* main-features */
#main-features {
  margin-bottom: 7px;
  background-color:  #e9896a;
  padding: 3% 0;
}
.main-features-text{
  color: black;
}
#main-features p{
  color: white;
}
.biometric {
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 20px;
}

.sprinkler {
  height: 200px;
  width: 200px;
  float: right;
  margin-right: 20px;
}

.cctv-img {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 20px;
}

.feat {
  padding: 4%;
}

/* footer */
#footer {
  margin-top: 20px;
  background-color: #a4ebf3;
  text-align: center;
}

.facebook {
  color: grey;
  margin-right: 20px;
}

.gmail {
  color: grey;
  margin: 0 10px;
}

.twitter {
  color: grey;
  margin-right: 20px;
}

.twitter:hover {
  color: #1DA1F2;
}

.facebook:hover {
  color: #4267B2;
}

.gmail:hover {
  color: #EA4335;
}

.footer-text {
  margin: 7px;
}

.footer-main {
  margin-top: 3px;
  padding-top: 12px;
  height: 150px;
}
#services{
  text-align: center;
   padding: 5% 0;
}
.hardware-repair,.networking,.technical-support,.recovery{
  transition: transform .2s;
  height: 200px;
  width: 200px;
}
.hardware-repair:hover,.networking:hover,.technical-support:hover,.recovery:hover{
  transform: scale(1.1);
}

.graphics-card{
  transform: rotate(45deg);
}
.services-text{
  font-size: 25px;
  padding: 5% 2%;
  margin-top: 25px;
  text-align: center;
}
#main-features p{
  font-size: 20px;
  padding:3% 0;
}
/* INDEX PAGE STYLES END */
.scrolled{
  opacity: .5;
}
